/* Define basic colors */
:root {
    --background: #cfd8dc;
    --backgroundSections: #142135;
    --font: #fff;
    --buttonFocus1: #7986cb;
    --buttonFocus2: #3f51b5;
    --link: #899bf9;
}

/* Basic styling */
html,
body {
    background: var(--background);
    color: var(--font);
    height: 100%;
}

a {
    color: var(--link);
    text-decoration: none;
    outline: none;
}

h1 {
    text-align: center;
}

a:hover,
a:focus {
    color: var(--buttonFocus2);
}

.bg {
    background-color: var(--backgroundSections);
}


/* Define element to fill rest of page */
.footer {
    color: var(--background);
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    text-align: center;
}

.fill {
    min-height: 100%;
    height: 100%;
}

/* Button styling */
.button {
    float: left;
    /* min-width: 150px; */
    /* max-width: 250px; */
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: var(--font);
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-color: var(--font);
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}

/* Aylen */
.button.button--aylen {
    background: var(--font);
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid;
    background: none;
    color: var(--font);
}

.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
    background: var(--background);
}

.button--aylen::after {
    background: var(--buttonFocus2);
}

.button--aylen:hover {
    color: var(--font);
}

.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}
