<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <style>
        .penispink::after {
            background: <%=colorPenispink %>;
        }

        .dottergelb::after {
            background: <%=colorDottergelb %>;
        }

        .kastanienbraun::after {
            background: <%=colorKastanienbraun %>;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="bg py-4">
        <h1>Glossar der offiziellen Farben des <a href="https://goo.gl/maps/e1fSNfiX12Mi1ebp9" target="_blank">n.e.V. G33</a></h1>
    </div>
    <div class="d-flex flex-column align-items-center bg py-3 my-4">
        <button class="button button--aylen penispink" onclick="window.location.href='/penispink'">Penispink</button>
        <button class="button button--aylen dottergelb" onclick="window.location.href='/dottergelb'">Dottergelb</button>
        <button class="button button--aylen kastanienbraun" onclick="window.location.href='/kastanienbraun'">Kastanienbraun</button>
    </div>

    <div class="fill">
        <div class="d-flex flex-column align-items-center bg footer mb-5">
            <div class="bg pt-4">
                Letztes Farbupdate:
                <%= updateDate %>
            </div>
            <h5 class="mt-5 mb-3">Wie funktioniert das?</h5>
            <div class="px-5"> In regelmäßigen zeitlichen Abständen erfasst ein intelligenter Algorithmus die relevantesten Bilder zu den jeweiligen Farben der n.e.V. G33 Mitglieder aus dem World Wide Web. Eine <a href="https://gitlab.com/jonasN/compute-color">künstliche Intelligenz</a> berechnet aus diesen Bildern die genaue Zusammensetzung der markantesten Farben.
            </div>
        </div>

</body>

</html>
